<div class="jumbotron">
  <h1 class="text-center">Cadastro de fotos</h1>
</div>

<div class="container">
  <div *ngIf="mensagem" class="alert alert-info">
    <p>{{mensagem}}</p>
  </div>
  <div class="row">
    <form [formGroup]="meuForm" (submit)="cadastrar($event)">
      <div class="col-md-6">
        <div class="form-group">
          <label>Titulo</label>
          <input
            required
            type="text" 
            class="form-control"
            name="titulo"
            [(ngModel)]="foto.titulo"
            formControlName="titulo">
            <div *ngIf="meuForm.controls.titulo.invalid">
              <span class="text-danger" *ngIf="meuForm.controls.titulo.errors.required">
                Título Required
              </span>
              <span class="text-danger" *ngIf="meuForm.controls.titulo.errors.minlength">
                Título Muito Curto
              </span>
            </div>
        </div>
        <div class="form-group">
          <label>Url</label>
          <input
            required
            type="text"
            class="form-control"
            name="url"
            [(ngModel)]="foto.url"
            formControlName="url">
            <span class="text-danger" *ngIf="meuForm.controls.url.invalid">
              Url Inválida
            </span>
        </div>
        <div class="form-group">
          <label>Descrição</label>
          <textarea
            required
            type="text"
            class="form-control"
            name="descricao"
            [(ngModel)]="foto.descricao"
            formControlName="descricao"></textarea>
            <span class="text-danger" *ngIf="meuForm.controls.descricao.invalid">
              Descrição Inválida
            </span>
        </div>
        <button class="btn btn-success" [disabled]="meuForm.invalid">Salvar</button>
        <a [routerLink]="['']" class="btn btn-danger">voltar</a>
      </div>
      <div class="col-md-6">
        <app-preview [img]="foto.url" [title]="foto.titulo" [description]="foto.descricao"></app-preview>
      </div>
    </form>
  </div>
</div>
